*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo {
    margin-bottom: 35px;
    margin-top: 0;
    margin-left:650px;
    margin-right: 650px;
}

.tContenedor {  
    display: flex;
    justify-content:space-between;  
    padding: 50px;
    text-transform: uppercase;
}

.tContenedor a:hover {
    color: black;
    outline-color: rgba(82, 36, 105, 0.1);    
}

.Modelos a {
    color:rgba(173, 97, 56, 0.633);
    text-decoration: none;
    transform: scale(1);
    transition: color 0.5s;
    margin: 8px 8px;
    text-transform: uppercase;
}

.celeste a {
    color:rgba(66, 185, 211, 0.633);
    text-decoration: none;
    transition: color 0.5s;
    margin: 2px 8px;
    text-transform: uppercase;
}

.Mecanica a {
    color:rgba(225, 65, 110, 0.633);
    text-decoration: none;
    transition: color 0.5s;
    margin: 8px 8px;
    text-transform: uppercase;
}

.Sistema a {
    color:rgba(248, 99, 35, 0.633);
    text-decoration: none;
    transition: color 0.5s;
    margin: 8px 8px;
    text-transform: uppercase;
}

.cajaA a {
    outline-style: double;
    outline-color: rgba(105, 60, 36, 0.5);
    transition: outline-color 0.5s;
}

.cajaC a {
    outline-style: double;
    outline-color: rgba(105, 60, 36, 0.5);
    transition: outline-color 0.5s;
}

.cajaM a {
    outline-style: double;
    outline-color: rgba(105, 60, 36, 0.5);
    transition: outline-color 0.5s;
}

.cajaS a {
    outline-style: double;
    outline-color: rgba(105, 60, 36, 0.5);
    transition: outline-color 0.5s;
}

@keyframes mover{
    0% {translate: 0 0; opacity: 0; }
    25% {translate: 345px 0; opacity: 1;}
    50% {translate: 690px 0; opacity: 0;}
    75%{translate: 345px 0; opacity: 1; }
    100%{translate: 0 0; opacity: 0; }
}

.slide {
    margin-left: 5px;
    margin-right: 5px;
}

#slide1{
    display: flex;
    animation: mover 6s linear infinite;
}

#slide2{
    display: flex;
    animation: mover 5s linear infinite;    
}

#slide3{
    display: flex;
    animation: mover 5s linear infinite;
}

#slide4{
    display: flex;
    animation: mover 6s linear infinite;
}

#slide1:hover{
    opacity: 1;
    animation: mover 35s linear infinite;
    scale: 1.2;    
}

#slide2:hover{
    opacity: 1;
    animation: mover 35s linear infinite;
    scale: 1.2;    
}

#slide3:hover{
    opacity: 1;
    animation: mover 35s linear infinite;
    scale: 1.2;    
}

#slide4:hover{
    opacity: 1;
    animation: mover 35s linear infinite;
    scale: 1.2;    
}

#encuesta{
    color:rgba(44, 81, 90, 0.633);
    text-decoration: none;
    transition: color 0.5s;
    margin: 8px 8px;
    font-size: medium;
}

#encuesta:hover{
    color:rgba(0, 0, 0, 0.633);
    scale: (2);
    margin: 8px 8px;
    font-size: large;

}




