*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Informacion {
    position: relative;
    text-align: center;
    z-index: 1;
    font-weight: lighter;
}

.nebulosa {
    width: 60px;
    height: 60px;
    border-radius: 42%;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

@keyframes Decrecer {
    0% {width: 60px; height: 60px; background-color: blueviolet;transform: rotate(0deg); border-radius: 42%;}
    50% {width: 30px; height: 30px; background-color: #d2751f; transform: rotate(180deg);border-radius: 50%;}
    100% {width: 60px; height: 60px; background-color: blueviolet;transform: rotate(0deg); border-radius: 42%;;}
}

.nebulosa:hover {
    animation: Decrecer 4s linear infinite;
}